<footer class="site-footer">

<h3>
Grace & Olive Lens
</h3>


<p>
Serving Dinwiddie, VA and surrounding areas
</p>


<h2 class="follow-title">
Follow Along
</h2>


<div class="social-links">

<p>
Instagram:
<a href="https://www.instagram.com/graceandolivelens?igsh=MTNhZGlpN3Jsb3cyOA%3D%3D&utm_source=qr" target="_blank">
Grace & Olive Lens
</a>
</p>


<p>
Facebook:
<a href="https://www.facebook.com/share/1Bgeq4ixqh/?mibextid=wwXIfr" target="_blank">
Grace & Olive Lens
</a>
</p>

</div>


</footer>